body {
	background: url("../images/harry-potter.jpg");
	color: gold;
} 

header {
	font-family: Arial, Helvetica, sans-serif;  
	font-size: 50px;
	text-align: center;
	margin: 5%;
	color: gold;
	text-shadow: 5px 5px 5px red;
}

section {
	background-color: opacity;
	font-size: 20px;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	height: 375px;
	text-align: center;
	font-size: 20px;
}

button {
	width: 25%;
	height: 10%;
	font-size: 20px;
	color: black;
	border: none;
	background: gold;
	border-radius: 12px;
}

.btnAnswer {
	margin:8px;
}

/* .btnAnswer:hover {
    color: red;
} */

.hover {
	background-color: greenyellow;
}

#start:hover {
	background: greenyellow;
}

#restart:hover {
	background: greenyellow;
}

#correctAnswerInfo,
#answerAssessment {
	margin-top: 1%;
}

#start {
	margin-top: 10%;
}

#restart {
	margin-top: 5%;
}

.timer {
	padding-top: 5%;
	font-size: x-large;
}

#question,
#summary {
	padding-top: 2%;
	font-size: x-large;
}

.results {
	font-size: 20px;
	padding-top: 2%;
}

